@media(max-width: 1100px) {
	.checking__row,
	.row {
		padding-top: 0px;
    	flex-wrap: wrap;
	}
	.about-us__item img:nth-child(1) {
		margin-left: -50px;
    	max-width: 400px;
	}
	.about-us__item img:nth-child(2) {
    	max-width: 250px;
	}
	.about-us__item {
		margin: 0 auto;
	}
	.about-us__inner {
		padding-top: 30px;
	}
	.about-us__item:nth-child(2) {
    	padding: 0 20px; 
    	max-width: 800px;
    	
	}
	.offer__item {
		padding-top: 20px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.offer__item__text {
	    max-width: 800px;
	}
	.offer__item img {
    margin-top: 30px;
    
	}
	.room__item {
		margin: 20px auto;
	}
	.room__text {
		text-align: center;
		
	}
	
	.room__item__text{
		max-width: 300px;
	}
	.footer-column {
		margin: 0 auto;
	    width: 270px;
	    text-align: center;
	}
	.info-row {
		flex-wrap: wrap;
	}
	
	.reviews__item {
		max-width: 600px;
		margin: 0 auto;
		padding: 20px 20px;
	}
	.icon-row {
		margin: 0 auto;
	}

	.service-column {
		margin: 0 auto;
	}
	.restaurant-menu .column {
		margin: 0 auto;
	}
	
}


@media(max-width: 900px) {

	.header-content__title {
		font-size: 40px;
		line-height: 50px;
	}	
	.header-content__text {
		font-size: 20px;
	    /*max-width: 600px;*/
	    margin-bottom: 25px;
		}
	.header-content__btn {
		font-size: 20px;
		padding: 20px 40px;
	}	
	.menu__list a {
	    font-size: 20px;
	    line-height: 30px;
	    padding: 20px 25px 5px 0;
	    min-width: 240px;
	}
	
}

@media(max-width: 600px) {
	.checking__row {
    	display: block;
	}
	.select {
		display: inline-block;
		padding-right: 30px;
	}
	.check-button a {
		font-size: 20px;
	}
	.about-us__item img:nth-child(1) {
    	max-width: 280px;
	}
	.about-us__item img:nth-child(2) {
    	max-width: 160px;
	}
	.checking__row {
	    padding-top: 20px;
	}
	.contact-row {
		display: block;
	}
	.contact-form {
		margin: 0 auto;
		max-width: 90%;
		text-align: center;
	}
	.contact h1 {
		padding-left: 0;
		text-align: center;
	}
	.contact-text {
		padding-top: 30px;
		max-width: 60%;
		margin: 0 auto;
		/*padding-left: -20px;*/
	}
	.icon-row {
		flex-wrap: wrap;
	}
	
	.service-icon {
		width: 95px;
		height: 95px;
		padding-top: 20px;
		margin: 10px 5px;
		/*margin: 20px auto;*/
	}
	.services-offers img {
    	max-width: 400px;
	}
	.pd-l {
		padding-left: 20px;
	}


}
@media(max-width: 440px) {
	.header-content__title {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 	20px;
		padding-top: 	20px;
	}	
	
	.header-content__text {
		font-size: 20px;
	    max-width: 600px;
	    margin-bottom: 25px;
		}
	.sign-up a{
		font-size: 16px;

	}
	.contact-btn {
    /*padding: 10px 50px;*/
    font-size: 16px;
	}
	.services-offers img {
    	max-width: 300px;
	}
	
}